*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
#wrap{
    width: 250px;
    height: 300px;
    padding: 20px 40px;
    margin: 2px auto;
    background-image: url(../images/notice.jpg);
    background-size: cover;
}
ul li{
    list-style: none;
    margin: 20px 10px;
}